[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/stb"]
	path = modules/stb
	url = https://github.com/nothings/stb.git
[submodule "modules/glad"]
	path = modules/glad
	url = https://github.com/Dav1dde/glad.git
